/* Following are some additional ExtJS resets to account for the differences from theme reset CSS */
a.x-menu-item-link:hover{text-decoration:none}
.x-body a:hover,.x-menu a:hover{text-decoration:none}
.x-body tr td:last-child,.x-menu tr td:last-child{border-right:0}
.x-readonly{opacity:.5}
.x-body table td,.x-body table th,.x-menu table td,.x-menu table th{padding:0;margin:0}
.x-body table,.x-menu table{margin:0;border:0;width:auto}
/* Classes for added grid functionality */
.x-column-header.filtered{background-image: -webkit-linear-gradient(top,#c3c4c6,#f9f9f9);background-image: linear-gradient(top,#c3c4c6,#f9f9f9)}
.x-column-header.filtered .filtered-value{opacity:.5}
.clear-filters-icon{width:16px;height:16px;background:url('../images/clear-filters.png') no-repeat 0 0}
.excel-icon{width:16px;height:16px;background:url('../images/excel.png') no-repeat 0 0}
.delete-icon{width:16px;height:16px;background:url('../images/delete.png') no-repeat 0 0}
.x-field-label-cell label{font-size:11px;font-weight:normal;text-align:center}
label.ux-rangemenu-lt:before{content:'<'}
label.ux-rangemenu-gt:before{content:'>'}
label.ux-rangemenu-eq:before{content:'='}
label.ux-gridfilter-text-icon-left:before{content:'Text:'}
#submissions-per-page-combobox-labelEl{margin-top:0;line-height:1.0em}
#errorMsg{color:#f00;font-weight:bold}